
*{
    box-sizing: border-box;
}
 .main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 80px;
    box-shadow: rgba(48, 60, 189, 0.927) 0px 0px 6px;

  }
  
.form-section{
    width: 40%;
    margin: auto;
   box-shadow: rgba(93, 180, 233, 0.808) 5px 9px 20px;
    padding: 40px 30px;
    border-radius: 5px;
}

.form-section h1 {
    font-weight: 700;
    text-align: center;
    margin: 30px 0px 20px 0px;
    /* //top-right-bottom-left----clockwise */
  }
 
.btn-submit {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    width: 80%;
    padding: 8px;
    margin-top: 13px;
    margin-bottom: 10px;
    background: rgb(3, 82, 252);
    color: white;
    border: none;
    border-radius: 4px;
   cursor: pointer;
  }
  .form-section span{
    font-weight: 500;
    font-size: small;
    color: crimson;
  }
/* // */
  input:focus{
    outline: 0.5px solid rgba(218, 5, 87, 0.851) ;
    
  }
  
  /* .Field{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    width: 80%;
    height: 80px;
    margin-top: 12px;
    padding-left: 1rem;
    border: 1px solid gray;
    border: none;
    border-radius: 0.2rem;
    box-shadow: rgb(0 0 0 / 35%) 0px 0px 2px;
    
 }  
  */


  